<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>St.Pavlov Data Department</title>
    <link rel="icon" href="/static/resources/reverse1999.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/resources/reverse1999.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>

<body>
<div class="header fixed-header">
    <div class="header-title">
        <h1>St.Pavlov Data Department</h1>
    </div>
    <div class="buttons-right">
        <a href="https://github.com/orgs/St-Pavlov-Data-Department/repositories" target="_blank" class="github-button">
            <i class="fab fa-github"></i> View on GitHub
        </a>
    </div>
    <div class="buttons-right">
        <a href="/api/doc" class="button">API Document</a>
    </div>
</div>
<div class="image-banner" id="image-banner-placeholder">
    <img src="https://s3api.wanz.site/image/reverse1999.jpg" alt="Saint Pavlov Data Department">
</div>
<div class="notification-board">
    <p>
        This site is under construction. Please check back later.
    </p>
</div>
<div class="items">
    {{ range .Items }}
    <div>
        <a href="{{ .url }}">{{ .name }}</a>
    </div>
    {{ end }}
</div>

<canvas class="background"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>
</body>

<script>
    window.onload = function() {
        adjustPadding();

        Particles.init({
            selector: '.background',
            color: [
                "rgba(255,255,255,0.5)",
                "rgba(255,199,150,0.5)",
                "rgba(51,45,41,0.5)",
            ],
            sizeVariations: 6,
        });
    };

    window.onresize = adjustPadding;

    function adjustPadding() {
        var headerHeight = document.querySelector('.fixed-header').offsetHeight;
        document.body.style.paddingTop = headerHeight + 'px';
    }
</script>

</html>